body::-webkit-scrollbar {
    width: 8px !important;
}

body::-webkit-scrollbar-track {
    background: transparent !important;
}

body::-webkit-scrollbar-thumb {
    background-color: #59B468 !important;
    border-radius: 100px;
}