<div class="flex flex-col items-center bg-[url('/src/assets/imgs/background.png')]">
    <div class="card sticky top-0 justify-center p-5" style="position: fixed; width: 100%;">
        <div class="card">
            <div style="height: 500px; position: relative;" class="speeddial-linear-demo">
                <p-speedDial [model]="items" direction="right"></p-speedDial>
            </div>
        </div>
    </div>        

    <header class="flex flex-col justify-center items-center">
        <div class="flex flex-col items-center w-2/4 gap-y-6">
            <h1>BIBLIOTECA IES ESTEVE TERRADAS I ILLA</h1>                
            <p class="text-white font-medium text-xl">Text de subtítol</p>
        </div>
    </header>

    <div class="grid grid-cols-2 gap-10 mt-20">
        <div class="bentoBox gap-y-4">
            <div class="gap-y-4">
                <h2>Cercà al catàleg</h2>
                <p>Troba els teus llibres favorits! Recorda que si no el tenim disponible, pots fer una petició. Trobaràs l'opció al menú.</p>
            </div>
            <div class="flex flex-row items-center justify-around gap-x-4">
                <p-autoComplete [(ngModel)]="selectedItem" [suggestions]="suggestions" (completeMethod)="search($event)" placeholder="Exemple: 'Els Set Contra Tebes'">
                </p-autoComplete>
                
                <p-button severity="icon">
                    <i class="pi pi-search"></i>
                </p-button>
            </div>

            <div class="img3D">
                <img src="/assets/imgs/libros3d.png" alt="">
            </div>
        </div>

        <div class="bentoBox">
            <h2>Inicia sessió</h2>

            <span class="p-float-label">
                <input pInputText id="nomUsuariCorreu"/>
                <label for="nomUsuariCorreu">Nom d'usuari o correu electrònic</label>
            </span>
            
            <span class="p-float-label">
                <p-password [feedback]="false"></p-password>
                <label for="password">Contrasenya</label>
            </span>

            <p class="contrasenyaOblidada">Heu oblidat la contrasenya?</p>

            <div class="flex flex-row items-center justify-around gap-x-4">
                <p-button severity="principal">
                    Següent
                    <i class="pi pi-chevron-right"></i>
                </p-button>
            </div>
        </div>
    </div>
</div>