<div class="headerContainer flex flex-col items-center justify-center text-center">
    <header class="w-4/5">
        <div class="flex flex-col items-center justify-center ">
            <h1>BIBLIOTECA IES ESTEVE TERRADAS I ILLA</h1>
            <p class="text-white font-semibold">Text de subtítol</p>
        </div>
    </header>
</div>

<div class="flex flex-row px-10 mb-40 justify-center items-center gap-x-20 w-full">
    <div class="confCompteContainer w-1/2">
        <div class="flex flex-row items-center">
            <p-avatar label="P" styleClass="mr-2" size="xlarge" shape="circle"></p-avatar>

            <div class="flex flex-col items-start">
                <p class="font-bold">IETI</p>
                <p>Administrador</p>
            </div>
        </div>


        <div class="edicioCompteContainer">
            <div class="flex flex-row gap-x-20 justify-between items-center">
                <div class="flex flex-col">
                    <h3>Usuari</h3>
                    <p>usuari123</p>
                </div>
                <p-button severity="fill">Editar</p-button>
            </div>

            <div class="flex flex-row gap-x-20 justify-between items-center">
                <div class="flex flex-col">
                    <h3>Correo</h3>
                    <p>usuarigmail.com</p>
                </div>
                <p-button severity="fill">Editar</p-button>
            </div>

            <div class="flex flex-row gap-x-20 justify-between items-center">
                <div class="flex flex-col">
                    <h3>Contrasenya</h3>
                    <p>************</p>
                </div>
                <p-button severity="fill">Editar</p-button>
            </div>

        </div>
    </div>

    <div class="flex flex-col justify-center items-start w-fit">
        <h2>Estado de la cuenta</h2>
        <div>
            <p-button severity="dangeroutlined">Tancar sessió</p-button>

            <hr>

            <div class="flex flex-row items-center gap-x-4">
                <p-button severity="min">Cancelar</p-button>
                <p-button severity="fill-rounded">Guardar cambios</p-button>
            </div>
        </div>
    </div>
</div>