<div  class="flex h-screen">
    <div 
        class="sidebar h-screen flex flex-column justify-content-between align-items-center" 
        (mouseenter) ="sidebarMouseEnter()"  
        (mouseleave) ="sidebarMouseLeave()"
        [class.sidebar-lock]="sidebarLock"
    >
        <div
        [class.hide]="!sidebarHover"
            class="logo flex justify-content-center align-items-start"
        >
            <img src="/assets/imgs/libros3D.png" alt="logo VOE">
        </div>

        <div class="menu">
            <div class="menu-title-div"[ngClass]="{'visible': sidebarHover}">
                <p class="menu-title">Menú</p>
            </div>
            <div class="menu-container" 
                *ngFor="let item of menuItems" 
                (auxclick)="middleClick($event, item)"
                (click)="menuClick(item)" 
                [ngClass]="{'visible': sidebarHover}"
                [class.active]="isCurrentPage(item)"
                [class.small]="!sidebarHover && !sidebarLock"  
            >
                <div
                    class="menu-header"
                    *ngIf="item.routerLink || item.externalLink"
                    [ngClass]="{'visible': sidebarHover}"
                    [routerLink]="item.routerLink"
                    pRipple
                >
                    <span [class]="item.icon" class="pi icon"></span>
                    <div
                        class="div-item-menu"
                        [ngClass]="{'visible': sidebarHover}"
                    >
                        <span class="item-menu">{{ item.label }}</span>
                    </div>
                </div>
            </div>

            <!--Admin configuration-->
            <ng-container *ngIf="this.configurationMenuItems">
                <div class="menu-title-div"[ngClass]="{'visible': sidebarHover}">
                    <p class="menu-title">Configuració</p>
                </div>
    
                <div class="menu-container" 
                    *ngFor="let item of configurationMenuItems" 
                    (auxclick)="middleClick($event, item)"
                    (click)="menuClick(item)" 
                    [class.active]="isCurrentPage(item)"
                    [class.small]="!sidebarHover && !sidebarLock"   
                >
    
                    <div class="menu-header" *ngIf="item.routerLink || item.externalLink" [routerLink]="item.routerLink" pRipple>
                        <span [class]="item.icon" class="pi icon"></span>
                        <div class="div-item-menu" [ngClass]="{'visible': sidebarHover}">
                            <span class="item-menu">{{ item.label }}</span>
                        </div>
                    </div>
    
                </div>
            </ng-container>
        </div>       
        
        <div
            class="sign-out menu-container"
            (auxclick)="logout()"
            (click)="logout()" 
        >
            <div
                class="menu-header"
                *ngIf="signOut.routerLink"
                [routerLink]="signOut.routerLink"
                pRipple
            >
                <span [class]="signOut.icon" class="pi icon"></span>
                <div class="div-item-menu" [ngClass]="{'visible': sidebarHover}">
                    <span class="label" > {{ signOut.label }}</span>
                </div>
            </div>
        </div>
    </div>

    <div
        class="content relative"
        [class.sidebar-expanded]="sidebarLock"
    >
        <router-outlet></router-outlet>
    </div>
</div>
