<div class="mainContent">
    <div class="login-container">
        <h2 class="mb-10">Inicia sessió</h2>
        <form [formGroup]="loginForm" method="post" class="flex gap-y-10">
            <div class="flex flex-col gap-y-10">
                <div class="input">
                    <span class="p-float-label">
                        <input id="username" pInputText formControlName="cif" name="cif" id="cif" autocomplete="username" [class]="{'ng-invalid': loginError}"/>
                        <label for="username" [class]="{'ng-invalid': loginError}">Nom d'usuari o correu electònic</label>
                    </span>
                </div>
                    
                <div class="input">
                    <span class="p-float-label">
                        <p-password
                            formControlName="password"
                            name="password"
                            id="password"
                            [feedback]="false"
                            [toggleMask]="true"
                            [style]="{'width':'100%', 'height':'3rem'}"
                            [class]="{'ng-invalid': loginError}"
                            [inputStyle]="{'width':'100%'}"
                        ></p-password>
                        <label for="password" [class]="{'ng-invalid': loginError}">Contrasenya</label>
                    </span>
                </div>
            </div>

            <p class="forgottenPwd" (click)="togglePopup()">Has oblidat la contrasenya?</p>

            <p-button
                label="Següent"
                styleClass="p-button-rounded"
                severity="fill"
                (click)="onLogin()"
            ></p-button>
        </form>
        
        <div class="error">
            <p>
                @if (loginError) {
                    {{ errorMessage }}
                }
            </p>
        </div>
    </div>
</div>

@if(popupVisible) {
    <div class="popup-container">
        <div class="forgottenPwdContainer gap-y-4">
            <p class="closePopUp" (click)="togglePopup()">X</p>
            <i class="pi pi-envelope"></i>
            <h3>T'hem enviat un correu</h3>
            <p>Introduïu els quatre dígits indicats al vostre correu. Si no el trobes, revisa a la safata de Spam o espera per poder-lo reenviar.</p>
            
            <div class="card flex justify-content-center">
                <p-inputOtp [(ngModel)]="value"></p-inputOtp>
            </div>

            <p-button severity="fill">Següent</p-button>
            <p class="forgottenPwd">Reenviar codi en 20 segons</p>
        </div>
    </div>
}