
.p-button {
    gap: 10px;
    width: auto;
    height: auto;
    padding: 15px;
}

.p-button-principal {
    justify-content: center;
    background-color: #59B468;
    border: 1px solid #59B468;
    border-radius: 12px;
    color: white;
    transition-duration: 1s;
}

.p-button-principal:hover {
    transition-duration: 1s;
    background: rgb(89,180,104);
    background: radial-gradient(circle, rgba(89,180,104,0.36318407960199006) 0%, rgba(89,180,104,1) 100%);
    border: 1px solid #59B468;
    border-radius: 12px;
    color: white;
}

.p-button-outlined {
    justify-content: center;
    background-color: white;
    border: 1px solid #59B468;
    border-radius: 12px;
    color: white;
    transition-duration: 1s;
}

.p-button-icon {
    justify-content: center;
    background-color: #59B468;
    border: 1px solid #59B468;
    border-radius: 100px;
    color: white;
    transition-duration: 1s;
}

.p-button-icon:hover {
    background: rgb(89,180,104);
    background: radial-gradient(circle, rgba(89,180,104,0.36318407960199006) 0%, rgba(89,180,104,1) 100%);
    border: 1px solid #59B468;
}