input.p-element.p-autocomplete-input.p-inputtext.p-component,
input {
    width: auto;
    height: auto;
    padding: 10px;
    border: 1px solid #eeee;
    background-color: white;
    color: #556958;
}

.p-password {
    border: 1px solid #eeee;
    background-color: white;
}