@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import "primeicons/primeicons.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
    text-align: center;
    font-family: "Urbanist", sans-serif;
    font-size: 100px;
    font-weight: 900;
    line-height: 80px;
    color: rgb(252,255,130);
    color: linear-gradient(90deg, rgba(252,255,130,1) 0%, rgba(255,255,255,1) 100%);
}

h2 {
    text-align: left;
    font-family: "Urbanist", sans-serif;
    font-size: 40px;
    font-weight: bold;
    color: #556958;
}

p {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #556958;
    transition-duration: 1s;
}


.p-megamenu {
    background-color: transparent;
}